body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
}
li {
    padding: 10px;
}

.container-1 {
padding: 30px;
display: flex;
}

.child-1 {
padding: 20px;
flex-grow: 1;
}

.child-2 {
padding: 20px;
flex-grow: 1;
}

.child-3 {
padding: 10px;
flex-grow: 1;
}

.button:hover {
    background-color: yellow;
}

button {
    flex: auto;
    font-size: auto;
}

.avatar {
    height: 200px;
}

.Building img, .Timing img, .Highlights img, .app img, .radical img {
    width: 100%;
    height: 100%;
}

.carry, .carry0, .carry2, .carry3, .carry5 {
    object-fit: cover;
}

.Building, .Timing, .Highlights, .app, .radical {
    position: relative;
  }
  
.textblock2, .textblock1, .textblock3, .textblock4, .textblock5 {
    position: absolute;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

.About {
    display: inline-block;
    padding: 20px;
    margin: 50px;
    height: 300px;
    width: 90%;
    background-color: white;
    text-align: left;
}

section h3 {
    text-align: center;
}

.Building, .Highlights, .Timing, .app {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    margin: 50px;
    height: 100px;
    width: 40%;
    cursor: pointer;
}

.radical {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    margin: 50px;
    height: 200px;
    width: 90%;
    cursor: pointer;  
}

.Building:hover, .Highlights:hover, .Timing:hover, .app:hover, .radical:hover {
    opacity: .5;
}

.contact {
   padding: 20px;
   margin: 20px;
   background-color: white;
   width: 50%;
   justify-content: space-evenly;
}

.footer {
justify-content:center;
align-items: center;
}