body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
}
li {
    padding: 10px;
}

.container-1 {
padding: 30px;
display: flex;
}

.child-1 {
padding: 20px;
flex-grow: 1;
}

.child-2 {
padding: 20px;
flex-grow: 1;
}

.child-3 {
padding: 10px;
flex-grow: 1;
}

.button:hover {
    background-color: yellow;
}

button {
    flex: auto;
    font-size: auto;
}

.avatar {
    height: 200px;
}

.About {
    display: inline-block;
    padding: 20px;
    margin: 50px;
    height: 300px;
    background-color: white;
    text-align: left;
}

section h2 {
    text-align: center;
}

.Building, .Highlights, .Timing, .app {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    margin: 50px;
    height: 100px;
    width: 40%;
    padding: 10px;
    background-color: white;
}

.footer {
align-self: center;
}